@font-face {
  font-family: "customFont";
  src: url("../Add-on/customFont.ttf") format("truetype");
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

@media (max-width: 768px) {
  .head {
    flex-direction: column;
  }

  .head h1 {
    text-align: center;
  }
}

.head h1,
.loader {
  font-family: "customFont", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
}

.Containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}
