.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

img {
    padding: 1em;
    width: 150px;
    height: 150px;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid aqua;
    border-radius: 1.5rem;
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.25);
    background-color: aqua;
    transition: all 300ms ease-in-out;
    width: 15em;
    height: 20em;
    margin: 0.8em;
    flex-shrink: 0;
}

.Container:hover {
    transform: scale(1.055) rotateZ(8deg);
    box-shadow: 12px 6px 5px rgba(0, 0, 0, 0.25);
}