.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 1em;
  }