@font-face {
  font-family: 'customFont';
  src: url('./customFont.ttf') format('truetype');
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.head h1, .loader {
  font-family: 'customFont', sans-serif;
  font-size: 4em;
  font-weight: lighter;
  margin: 0.5em 10em 0 1em;
}

.Containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 1em;
  }